{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Attendance System</title>
    <link rel="stylesheet" href="{% static 'css/styles-main.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles-login.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'images/oasufr.ico' %}"/>
</head>
<body>

{% include 'navbar.html' %}

{% block content %}

{% endblock %}

{% include 'footer.html' %}

</body>
</html>
