{% extends 'main.html' %}
{% load static %}
{% block content %}

    <br><br>
    <div class="login-container">
        <h1>Login</h1>
        <form method="POST" action="{% url 'login' %}">
            {% csrf_token %}
            {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                        <li class="message {{ message.tags }}">{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
            <input type="hidden" name="next" value="{{ request.GET.next }}">
            <input type="text" name="username" placeholder="Username" required>
            <input type="password" name="password" placeholder="Password" required>
            <button type="submit">Login</button>
        </form>
        <div class="links">
            <a href="{{ request.META.HTTP_REFERER }}">Go back</a>
        </div>
    </div>

{% endblock %}
